ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkolivegreen;
}

li2 {
    float: left;
}

li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li2 a:hover {
    background-color: #111;
}







footer {
display: block;

    background-color: darkolivegreen;
    color: white;
    text-align: center;
}

